@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/*tmp black theme for eyes */
/*body,main,section {background: black !important;color:white !important; }*/

/*.bulles {color:black !important; }*/
/*tmp*/

@font-face{
	font-family: 'roboto';
	src: url('../font/Roboto-Regular.ttf');
}
@font-face{
	font-family: 'roboto-thin';
	src: url('../font/Roboto-Thin.ttf');
}
@font-face{
	font-family: 'shrikhand';
	src: url('../font/Shrikhand-Regular.ttf');
}

@media (min-width: 1094.98px){
    body{
    max-width: 1400px;
    margin: auto;
    }
    .fa-heart{
	margin-left: 30px;
    }
    header > div *{
    width: 40% !important;
    }
    #general{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    #menuTitreFlex{
    width: 100% !important;
    padding-left: 3% ;
    }
	.surligner{
	width: 10% !important;
	}
    #entrees{
    width: 45% !important;
    }
    #plats{
    width: 45% !important;
    }
    #dessert{
    width: 45% !important;
    }
	.fa-check-circle{
	font-size: 22px !important;
	}
    #boutonRoseFlex{
    width: 60% !important;
    }
    .bulles{
    width: 100% !important;
    }    
    footer> img{
    width: 16% !important;
    }
}

@media (min-width: 650px) and (max-width: 1094.0px){
    body{
    }
    #general{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    #entrees, #plats, #dessert{
    width: 75%;
    }
	.bulles{
	height: 72px !important;
	}
    #entrees > div{
    width: 90% !important;
    }
    #plats> div{
    width: 80% !important;
    }
    #dessert > div{
    width: 70% !important;
    }
	.fa-check-circle{
	font-size: 27px !important;
	}
    .boutonRose{
    width: 45% !important;
    height: 50px !important;
    padding: 0 42px 0 42px!important;
    }
    .menuTitre{
	width: 70% !important;
	justify-content: space-around !important;
    }
    footer> img{
    width: 20% !important;
    }
    
}


@media (max-width: 649.98px){
    body{
	font-size: 12px !important;
    }
	header{
	padding-bottom:40px !important;
	padding-top:40px !important;
	}
	.logoTitreFlex{
	position: absolute;
	z-index: 10;
	}
	.fa-arrow-left {
    padding-left: 17px;
	position: absolute;
	top: 27px;
	left: 0 ;
	}
    #general > *{
	margin-left: 0 !important;
	}
    main{
	padding-top: 0 !important
    }
    .imagePrincipal{
	width: 100% !important;
	height: 390px !important;
    } 
    #general{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 30px 20px 80px 20px !important;
	
    }
	.surligner{
	width: 30px !important;
	}
    .bulles{
    width: 90% !important;
	height: 60px !important;
    }
	.boite1{
	margin: 2px !important;
	}
	.petitesBulles{
	align-items: flex-end !important;
	}
	.prix{
	padding-bottom: 34%;
	font-weight: bold;
	}
	strong{
	font-size: 15px !important;
	}
    #menuTitreFlex{
	width:100% !important;
	}
    .menuTitre{
	justify-content: space-between !important;
	margin: 10px 10px 0 10px !important;
    }
	.menuTitre  h2 ,.fa-heart{
    font-size: 26px ;
	}
    .boutonRose{
    width: 30% !important;
    height: 50px !important;
    padding: 0 42px 0 42px !important; 
    }
    footer> img{
    min-width: 9px !important;
	height: 22px !important;
    }
	.fa-hands-helping, .fa-utensils{
    width: 24px !important;
	}
}

body{
    font-family: "roboto", "Sans serif";
    margin: auto;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px 0;

    background: #ffffff;
}
.fa-arrow-left {
    padding-left: 17px;
}
.logoTitreFlex{
    display: flex;
    justify-content: center;
    width: 100%;
	
}
header > div *{
    width: 50%;
}
#BoiteImagePrincipal{
    position: relative;
    z-index: 0;
}
.imagePrincipal{
    width: 100% ;
    height: 600px;
    object-fit: cover;    
}

#menuTitreFlex{
    display: flex;
    justify-content:center;
}
.menuTitre{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: x-large ;
    font-family: "shrikhand";
    font-weight: normal;/*important, c'est pour avoir la couleur a l'interieur du coeur*/
    width: 100%;
}
#general{
    background: #f6f6f6;
    border: none;
    border-radius: 50px 50px 0 0 ;
    margin-top: -87px;
	padding-bottom: 144px;
    position: relative;
    z-index: 1;
}
#general > *{
    margin-left: 10px;
}
section + h3 {
    border-bottom: 3px white solid; 
    
}
#entrees > h3,#plats > h3,#dessert > h3{
	font-family: "roboto-thin";
}

.surligner{
    background: #99e2d0;
    border: solid #99e2d0 2px;
    width: 7%;
    margin-bottom: 15px;
}
.bulles{
    width: 60%;
    height: 70px;

    display: flex;
    justify-content: space-between;
	
	margin-bottom: 20px;

    border: none 1px white;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
	box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
	background: #ffffff;
}
.petitesBulles{
    width: 50px;
	height: 100%;
    
	display: flex;
    align-items: center; 
	justify-content: flex-end;
}
.textSpan {
    width: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bulles > span{ /* .bulles + span (selection le premier element ne fonctionne pas !!!!*/
    width : 100%;
    overflow: hidden;
    padding: 10px;
}
/*################################### Animation bulles ###################################*/
.boite1{
    width: 100% !important;
    margin: 10px ;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: width cubic-bezier(.2,.84,.97,.82) .6s;
}
.boite1 > *{
   padding-left: 5px; 
}
.hiddenBox {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.hiddenBox, .hiddenText{
	overflow: hidden; 
  	text-overflow: ellipsis; 
	white-space: nowrap;
}
.boite2{
    background: #99E2D0;    
    width: 20%;
    
    display:flex;
    align-items: center;
	justify-content: center;

    position: relative;
    left: 20%;

    opacity: 1;
    transition:  transform  cubic-bezier(.2,.84,.97,.82) .6s;
}
.cercle{
    color: white;
}
.bulles:hover .boite1 {
	width: 70% !important ;
}
.bulles:hover .boite2 {
    opacity: 1;
    transform: translate(-100%,0) ;
}
.bulles:hover .cercle {
    transition: transform 0.6s;
    transform: rotate(360deg);
}
/*################################### Animation bulles ###################################*/
#boutonRoseFlex{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.boutonRose{
    width: 25%;
    height: 80px;
    border: solid 0px white;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;/*axe secondaire*/
    
	color: white;
    background: linear-gradient(#ed73da, #af5fdb, #b160db);
	box-shadow: 0 2px 3px grey;
}
.boutonRose:hover{
    transform: scale(1.027);
    background: linear-gradient(#ed90de, #c28edf, #b375d3);
	box-shadow: 0 2px 2px 1px grey;
}
footer{
    padding-top: 40px;
    padding-bottom: 35px !important;
    color: white;
    height: 30%;
    background-color: #353535;
}
footer> img{
    height: 15%;
    padding-left: 20px;
    margin-bottom: 18px;
	filter: invert(1);
}
.footerDiv{
    display: flex;
	padding: 0 0 5px 15px;
}
.footerDiv a{
	color: white;
	text-decoration: none;/*enlever le surlignage*/
}
.fa-hands-helping, .fa-utensils{
    width: 37px;
}









#corazon{
	transition: background 3s; 

}
#corazon:hover{
    font-weight: bold;/*important, c'est pour avoir la couleur a l'interieur du coeur*/
	background: #ed73da;/*fonctionne mais pb comme meme, voir avec mentor*/
/*    background: linear-gradient(#ed73da, #af5fdb, #b160db); le truk a faire marche*/
    -webkit-background-clip: text;/* coeur */
    -webkit-text-fill-color: transparent;/*no se prq*/

}



.loader {
  background: -webkit-linear-gradient(#FFFFFF, #99E2D0, #FF79DA, #9356DC);
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader 1s ease-in-out 3s forwards;
}







/*###############################Animation############################*/



/* resultat final 2*/

@keyframes defilement{
		from{ opacity: 0;}
		to { opacity: 1;}
}

#entrees :nth-child(3){
	animation: defilement 1s linear 1 both;
}
#entrees :nth-child(4){
	animation: defilement 2s linear 1 both;
}
#entrees :nth-child(5){
	animation: defilement 3s linear 1 both;
}
#entrees :nth-child(6){
	animation: defilement 4s linear 1 both;
}

		
#plats :nth-child(3){
	animation: defilement 1s linear 1 both;
}
#plats :nth-child(4){
	animation: defilement 2s linear 1 both;
}
#plats :nth-child(5){
	animation: defilement 3s linear 1 both;
}


#dessert :nth-child(3){
	animation: defilement 1s linear 1 both;
}
#dessert :nth-child(4){
	animation: defilement 2s linear 1 both;
}
#dessert :nth-child(5){
	animation: defilement 3s linear 1 both;
}
		

/* resultat final 1

#entrees {
	animation: defilement 3s linear 1 both;

}
#plats {
	animation: defilement 5s linear 1 both;

}
#dessert {
	animation: defilement 7s linear 1 both;

}

@keyframes defilement{
		from{ opacity: 0;}
		to { opacity: 1;}
}
*/





/* corazon*/
/* maybe the solution: */
/*
opacity: 0;
background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
background: linear-gradient(#9356dc, #ff79da);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-transition: opacity 1000ms;
transition: opacity 1000ms;
*/
/* corazon*/

/*
.fa-heart{
	transition: background 3s;}
.fa-heart:hover{
    font-weight: bold;/*important, c'est pour avoir la couleur a l'interieur du coeur*/
/*	background: orange;*/
/*    -webkit-background-clip: text;*//* coeur */
/*    -webkit-text-fill-color: transparent;}*//*no se prq*/
 





