
/*tmp*/
body{
	
	font-size: 10px;
}
/*tmp*/


@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@media (min-width: 1094.98px){
    body{
    max-width: 1400px;
    margin: auto;
    }
    .fa-heart{
	margin-left: 30px;
    }
    header > div *{
    width: 40% !important;
    }
    #general{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    #menuTitreFlex{
    width: 100% !important;
    padding-left: 3% ;
    }
    #entrees{
    width: 45% !important;
    }
    #plats{
    width: 45% !important;
    }
    #dessert{
    width: 45% !important;
    }
    #boutonRoseFlex{
    width: 60% !important;
    }
    .bulles{
    width: 100% !important;
    }    
    footer> img{
    width: 16% !important;
    }
}

@media (min-width: 650px) and (max-width: 1094.0px){
    body{
    }
    #general{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    #entrees, #plats, #dessert{
    width: 75%;
    }
    #entrees > div{
    width: 90% !important;
    }
    #plats> div{
    width: 80% !important;
    }
    #dessert > div{
    width: 70% !important;
    }
    .boutonRose{
    width: 45% !important;
    height: 50px !important;
    padding: 0 42px 0 42px!important;
    }
    .menuTitre{
	width: 70% !important;
	justify-content: space-around !important;
    }
    footer> img{
    width: 20% !important;
    }
    
}


@media (max-width: 649.98px){
    body{
    }
    
    main{
	padding-top: 0 !important
    }
    .imagePrincipal{
	width: 100% !important;
	height: 390px !important;
    } 
    #general{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 30px 20px 0 20px !important;
	
    }
    .bulles{
    width: 90% !important;
    }
    #menuTitreFlex{
	width:100% !important;
    }
    .menuTitre{
	justify-content: space-between !important;
    }
    .boutonRose{
    width: 30% !important;
    height: 50px !important;
    padding: 0 42px 0 42px !important; 
    }
    footer> img{
    min-width: 9px !important;
    }
}

body{
    background: #190b0b;
    color: white;
    font-family: "Raleway", "Sans serif";
    margin: auto;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px 0;

    background: #a0aacf;
}
.fa-arrow-left {
    padding-left: 17px;
}
.logoTitreFlex{
    display: flex;
    justify-content: center;
    width: 100%;
}
header > div *{
    width: 50%;
}
#BoiteImagePrincipal{
    position: relative;
    z-index: 0;
}
.imagePrincipal{
    width: 100% ;
    height: 600px;
    object-fit: cover;    
}

#menuTitreFlex{
    display: flex;
    justify-content:center;
}
.menuTitre{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: x-large ;
    font-style: italic;
    width: 100%;
}
#general{
    background: #190b0b;
    border: none;
    border-radius: 50px 50px 0 0 ;
    margin-top: -87px;
    position: relative;
    z-index: 1;
}
#general > *{
    margin-left: 10px;
}
section + h3 {
    border-bottom: 3px white solid; 
    
}
.surligner{
    background: #99e2d0;
    border: solid #99e2d0 2px;
    width: 7%;
    margin-bottom: 15px;
}
.bulles{
    width: 60%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    border: solid 1px white;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;

}
.petitesBulles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    align-items: baseline; 
}
.textSpan {
    width: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bulles > span{ /* .bulles + span (selection le premier element ne fonctionne pas !!!!*/
    width : 100%;
    overflow: hidden;
    padding: 10px;
}
/*Animation bulles */
.boite1{
    width: 90%;
}
.boite1 > *{
   padding-left: 5px; 

}

.boite2{
    background: orange;    
    width: 20%;
    
    display:flex;
    align-items: center;
	justify-content: center;

    position: relative;
    left: 20%;

    opacity: 1;
    transition:  transform  cubic-bezier(.2,.84,.97,.82) .6s;
}
.cercle{
    color: white;
}
.prix{ 
    transition:  transform  cubic-bezier(.2,.84,.97,.82) .6s;
}

.bulles:hover .boite2 {
    opacity: 1;
    /*transform: translate(-50px);*/
    transform: translate(-100%,0) ;
}
.bulles:hover .prix {
    transform: translate(-100%,0) ;
}
.bulles:hover .cercle {
    transition: transform 1s;
    transform: rotate(360deg);
}

#boutonRoseFlex{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.boutonRose{
    width: 25%;
    height: 80px;
    border: solid 0px white;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;/*axe secondaire*/
    
    background: linear-gradient(#ed73da, #af5fdb, #b160db);
}
.boutonRose:hover{
    color: orange;
    transform: scale(1.027);
}
main{
    margin-bottom: 100px;
}
footer{
    padding-top: 30px;
    padding-bottom: 35px !important;
    height: 30%;
    border: solid 1px white;
    background-color: #3e3e3e;
}
footer> img{
    height: 15%;
    padding-left: 20px;
    margin-bottom: 18px;
}

footer ul{
    list-style-type: none;
    padding-left: 20px;
    margin:0 ;
}
footer li{
    margin:0 0 5px 0;
}
.faLi{
    display: flex;
}
.fa-hands-helping, .fa-utensils{
    width: 30px;
}



span {
    color:orange;
}


/*#99e2d0 couleur pour h3 */ 






.fa-heart:hover{
    
    font-weight: bold;/*important, c'est pour avoir la couleur a l'interieur du coeur*/
    background: linear-gradient(#ed73da, #af5fdb, #b160db);
    -webkit-background-clip: text;/* coeur */
    -webkit-text-fill-color: transparent;/*no se prq*/
}


.loader {
  background: -webkit-linear-gradient(#FFFFFF, #99E2D0, #FF79DA, #9356DC);
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader 1s ease-in-out 3s forwards;
}






/*###########  autre exemple ###########*/

.loader__food {
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 20%;
}
@media screen and (min-width: 768px) {
  .loader__food {
    top: 40%;
    left: 35%;
  }
}
@media screen and (min-width: 1280px) {
  .loader__food {
    top: 40%;
    left: 45%;
  }
}

.loader__food span {
  display: inline-block;
  width: 5px;
  height: 20px;
  padding-right: 1em;
}

.loader__fork {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate 1s linear infinite;
}

.loader__food span:nth-child(1) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(2) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(3) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(4) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(5) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(6) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(7) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(8) {
  animation: grow 1s ease-in-out 0.15s infinite;
}


.starter {
  animation: fadein 3s ease-in-out;
}
@media screen and (min-width: 1280px) {
  .starter {
    width: 400px;
  }
}

.dish {
  animation: fadein 6s ease-in-out;
}


.dessert {
  animation: fadein 9s ease-in-out;
}







/*###############################Animation############################*/




#entrees {
	animation: defilement 3s linear 1 both;

}
#plats {
	animation: defilement 5s linear 1 both;

}
#dessert {
	animation: defilement 7s linear 1 both;

}

@keyframes defilement{
		from{ opacity: 0;}
		to { opacity: 1;}
}


/*
#entrees{
}

#entrees h3:nth-child(1){
	animation: defilement 1s linear 1 both;

}

#entrees:nth-child(2){

	animation: defilement 2s linear 1 both;

}
#entrees:nth-child(3){

	animation: defilement 3s linear 2 both;

}

@keyframes defilement{
		from{ opacity: 0;}
		to { opacity: 1;}
}


*/




