
/*tmp*/
body{
	
	font-size: 10px;
}
/*tmp*/


@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/*A mettre "overflow: hidden;" pr les bulles du menu */


@media (min-width: 1094.98px){
    body{
    max-width: 1400px;
    margin: auto;
    }
    header{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-right: 0px !important;
    padding-left: 0 !important;
    }
    header > img{
    height: 80px !important;
    }
    #reservezLeMenu{
    width: 100% !important;
    }
    #localisation{
    width: 100% !important;
    }
    .boutonRose{
    margin: auto !important;
    width: 20% !important;
    height: 40px !important;
    }
    .restaurantBulle{
    height: 450px !important;
    }
 
}

@media (min-width: 650px) and (max-width: 1094.0px){
    body{
    }
    header{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    }
    #reservezLeMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    }
    .boutonRose{
    width: 50% !important;
    height: 50px !important;
    padding: 0 42px 0 42px !important; 
    }
    a > img{
    height: 200px !important;
    }
	.nouveauDiv{
	top: 10px !important;
	right: 12px !important;
	width: 91px !important;
	height: 40px !important;
	font-size: 10px !important;
	}
}

@media (max-width: 649.98px){
    body{
    }
    header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    
    padding-right: 0   !important;
    padding-left: 0  !important; 
    text-align: center ;
    }
    #reservezLeMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    #localisation{
    width:100% ; 
    justify-content: center !important;
    }   
    .boutonRose{
    width: auto !important;
    height: 50px !important;
    padding: 0 12px 0 12px !important; 
    font-weight: bold;
    }
    .fonctionnementChoix{
    width: 87% !important;
    margin: 0 10% 5% 10%;
    }
    #section2{
    display: flex;
    flex-wrap: wrap;
    }
    .restaurantBulle{
    margin: 0 5% 33px 5%;
    width: 100% !important;
    height: 250px !important;
    }
    a > img{
    object-fit: cover;
    width: 100%;
    height: 70% !important;
    }
	.nouveauDiv{
	top: 20px !important;
	right: 20px;
	width: 91px;
	height: 40px;
	}
    footer {
    padding-left: 35px !important;
    }
    footer > img{
    min-width : 150px !important;/* prof*/ 
    height: 26px !important;
    }	    
    
}




body{
    font-family: "Raleway", "Sans serif";
    margin: auto;
}
header,#localisation,#reservezLeMenu,#section1,#section2,footer{
    padding-right: 15px ;
    padding-left: 15px ;
}

header > img{
    padding-bottom: 20px;
    height: 50px;
}
#localisation{
    display: flex;
    align-items: flex-end;
    background: #eaeaea;
    padding: 20px 0 20px 0;
}
#localisation > *{
    margin: 0 5px 0 5px;
}
.barreRecherche {
    font-size: 100%;
    font-weight: bold;
    background: #eaeaea;
    border:none;
    width: 100%;
}
.boutonRose{
    width: 25%;
    height: 10%;
    border: solid 0px white;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;/*axe secondaire*/
    
	color: white;
    background: linear-gradient(#ed73da, #af5fdb, #b160db);
}
.boutonRose:hover{
    color: orange;
    transform: scale(1.027);
}
#reservezLeMenu{
    padding: 20px 0 30px 0;
	background: #f6f6f6;
}
#reservezLeMenu > h3{
	font-weight: normal;
}
#reservezLeMenu  h1 {
	padding-left: 20px;
}
#reservezLeMenu  h3 {
	padding-left: 20px;
}
main{
    padding-top: 30px;
    border: solid 1px white;
}
#section1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 50px 12px;
}
#section1 > h1{
    margin-bottom: 30px;
    width: 70%;
}
.fonctionnementChoix {
    display: flex;
    align-items: center;/*axe secondaire*/
    border: solid white 2px;
    border-radius: 20px 20px 20px 20px ;
    width: 30%;
	box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
	background: #f6f6f6;
}
.fonctionnementChoix:hover{
    color: black;
    background-color: #f5edff;
}
.fonctionnementChoix i{
    margin: 0 5% 0 5%;
}
.fonctionnementChoix > h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:-13px;
    background-color: #DEEBFF;
    border-radius: 100%;
    min-height: 25px;
    min-width: 25px;
	
	line-height: 0;

}
.fonctionnementChoix > span{
	font-weight: bold;

}
#section2{
    border: solid white 1px; 
    padding: 30px 0 30px 0;
	background: #f6f6f6;
	padding-bottom: 200px;
}	
#section2 > h1{
    width: 70%;
    padding-left: 30px;
}
#section2Bulle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.restaurantBulle{
    border: solid white 2px;
    border-radius: 10px 10px 10px 10px;
    width: 40%;
    height: 50%;
    margin-bottom: 15px;
	position: relative;
	box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
}
a > img{
    object-fit: cover;
    width: 100%;
    height: 80%;
    border: solid white 0px;
    border-radius: 10px 10px 0 0;
}
.nouveauDiv{ 
	background:#99E2D0;
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	top: 40px;
	right: 20px;
	width: 111px;
	height: 45px;

}
.nouveauDiv > span{
	color: green;
	font-weight: bold;
}
.restaurantBulleSpan{
    display:flex;
    justify-content: space-between;
}

.restaurantBulleSpan >  div{
    margin: 2% 0 3% 2%
}
.restaurantBulleSpan > .corazonDiv{
    margin: 4% 4% 0  0

}
.restaurantBulle:hover{
    transform: scale(1.027);
}

footer{
    padding-top: 40px;
    padding-bottom: 35px !important;
	color: white;
    height: 30%;
    border: solid 1px none;
    background-color: #353535; /*#3e3e3e;*/
}
footer> img{
    height: 15%;
    padding-left: 10px;
    margin-bottom: 18px;
	filter: invert(1) ;
}
.fa-hands-helping, .fa-utensils{
    width: 30px;
}


/*1.css aucun pb, ici, pb */
footer .footerDiv{margin-bottom:4px;}







.fa-heart:hover{
    transform:scale(1.7);
    
    font-weight: bold;/*important, c'est pour avoir la couleur a l'interieur du coeur*/
    background: linear-gradient(#ed73da, #af5fdb, #b160db);
    -webkit-background-clip: text;/* coeur */
    -webkit-text-fill-color: transparent;/*no se prq*/
}



/*####################  Opening  ######################*/
 

.opening{
    color: white;
	background: #363636;
	
	width: 100%;
	height: 100vh;
	animation: changeBg 3s linear 1;
	display: grid;
	place-items: center;

}


@keyframes changeBg{
	0%{
		background-color: black;
	}

	80%{
		background-color: #363636;
	}
	100%{
		background-color: opacity;/*a regler */
		/*demander mentor pour le display : none SURTOUT*/
	}
}


.loader {
	border: 13px solid transparent; /*#f3f3f3*/
	border-radius: 50%;
	border-top: 13px solid #fba018;
	border-bottom: 13px solid #c9e2ec;
	width: 100px;
	height: 100px;
	animation: chargement 2s ease infinite;
}


@keyframes chargement {

	0% { 
	transform: rotate(0deg); 
	display: none;	
	}
	
	50% { transform: rotate(360deg); 
	}

	100% { transform: rotate(360deg); }

}


#hideMe {
	width:100% ;
	height: 2500px;

	-moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari et Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera et chromium*/
    animation: cssAnimation 0s ease-in 1.2s forwards;/*tmp remetre une valeur entre 1 et 3*/
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

	position: absolute;
	top: 0px;
	right: 0px;

	z-index: 42;
}
.loader{
	position: relative!important;
	bottom: 700px !important;	
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}







