@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


@media (max-width: 649.98px){
    body{
    }
}



body{
    background-color: #333333;
    color: white;
    font-family: "Raleway", "Sans serif";
}
header{
    margin-bottom: 20px;
}
header > img{
    height: 50px;
}
#localisation{
    display: flex;
    align-items: flex-end;

}
#localisation > *{
    margin: 0 5px 0 5px;
}   
.boutonRose{
    width: 25%;
    height: 10%;
    border: solid 0px white;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;/*axe secondaire*/
    
    background-color: #aa5ddb;    
}
.boutonRose:hover{
    color: orange;
    transform: scale(1.027);
}
#section1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#section1 > h1{
    width: 70%;
}
.fonctionnementChoix {
    display: flex;
    align-items: center;/*axe secondaire*/
    border: solid white 2px;
    border-radius: 20px 20px 20px 20px ;
    width: 30%;
}
.fonctionnementChoix:hover{
    color: orange;
    transform: scale(1.027);
}
.fonctionnementChoix i{
    margin: 0 5% 0 5%;
}
.fonctionnementChoix > h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:-13px;
    background-color: #DEEBFF;
    border-radius: 100%;
    min-height: 25px;
    min-width: 25px;
}
#section2{
    margin-bottom: 30px;
}	
#section2 > h1{
    width: 70%;
}
#section2Bulle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.restaurantBulle{
    border: solid white 2px;
    border-radius: 10px 10px 10px 10px;
    width: 40%;
    height: 50%;
    margin-bottom: 15px;
}
.restaurantBulle > img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border: solid white 0px;
    border-radius: 10px 10px 0 0;
}
.restaurantBulleSpan{
    display:flex;
    justify-content: space-between;
}

.restaurantBulleSpan >  div{
    margin: 2% 0 3% 2%
}
.restaurantBulleSpan > .corazon{
    margin: 4% 4% 0  0

}
.restaurantBulle:hover{
    transform: scale(1.027);
}




footer{
    padding-top: 30px;
    border: solid 2px white;
    height: 30%;
}
footer> img{
    width: 20%;
    height: 15%;
    margin: 0;
}
footer ul{
    list-style-type: none;
}

